@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Sniglet", sans-serif;
    color: #232323;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hidden {
    display: none!important;
}

button {
    background: none;
    font-size: 1.75rem;
    font-family: 'Sniglet', sans-serif;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 6px;
    border: 3px solid;
    cursor: pointer;
}

#menu-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#game-name h1 {
    font-size: 4rem;
    margin-bottom: 0.2em;
    font-weight: normal;
}

#game-name h2 {
    font-size: 2.5rem;
    margin-top: 0.2em;
    font-weight: normal;
}

#menu-buttons, 
#theme-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100vmin;

}

.card {
    background-color: transparent;
    aspect-ratio: 1;
    perspective: 1000;
    padding: 4%;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    border-radius: 4%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.spring .card-front {
    background:  rgb(238 192 198 / 60%);
    background: linear-gradient(315deg, rgb(229 140 138 / 50%) 0%, rgb(238 192 198 / 60%) 61%);
}

.card-back {
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}

.spring .card-back {
    border: 1px solid rgb(238 192 198 / 100%)
}