@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Sniglet&display=swap');

* {
    font-family: "Sniglet", sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    color: #3d3d3d;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

button {
    background: none;
    font-size: 1.4rem;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: inherit;
    background: rgba(255 221 0 / 45%);
    background: linear-gradient(315deg, rgba(255 221 0 / 45%) 0%, rgba(243 249 167 / 80%) 100%);
    box-shadow: rgba(60 64 67 / 30%) 0px 1px 2px 0px, rgba(60 64 67 / 15%) 0px 2px 6px 2px;
    transition: scale 0.2s ease-out, filter 0.2s ease-out, box-shadow 0.2s ease-out;
}

button.secondary-button {
    background: white;
}

button.small-button {
    font-size: 0.8rem;
    margin: 8px 0;
}

button:hover {
    filter: brightness(1.05);
    scale: 1.1;
    box-shadow: rgba(60 64 67 / 30%) 0px 3px 2px 0px, rgba(60 64 67 / 15%) 0px 3px 6px 2px;
}

#menu-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#game-name h1 {
    font-family: 'Lilita One', sans-serif;
    margin: 0;
    font-size: 3.2rem;
    font-weight: normal;
    text-shadow: 0px 3px 2px rgba(60 64 67 / 30%), 0px 3px 6px rgba(60 64 67 / 15%);
}

#game-name h2 {
    font-size: 2rem;
    margin-top: 0.2em;
    font-weight: normal;
}

#menu-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#theme-buttons div {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 5%;
}

@media only screen and (min-width: 375px) {
    #theme-buttons div {
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
}

#how-to-play>div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0% 10% 2%;
}

#how-to-play>div>div {
    padding: 0% 5%;
}

#how-to-play img {
    width: 90%;
    max-width: 350px;
    object-fit: contain;
}

@media only screen and (min-width: 992px) {
    #how-to-play>div {
        flex-direction: row;
    }

    #how-to-play img {
        width: 50%;
    }
}


#high-score-list {
    max-width: 350px;
    margin: 0 auto;
    padding-right: 20px;
}

#high-score-list li {
    margin-bottom: 16px;
}

#high-score-list li div {
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
    margin-left: 6px;
    box-shadow: rgba(60 64 67 / 30%) 0px 1px 2px 0px, rgba(60 64 67 / 15%) 0px 2px 6px 2px;
}

#high-score-list li::marker {
    font-size: 16px;
}

#high-score-list li:nth-child(1)::marker {
    font-size: 28px;
    font-weight: bold;
}

#high-score-list li:nth-child(2)::marker {
    font-size: 22px;
    font-weight: bold;
}

#high-score-list li:nth-child(3)::marker {
    font-size: 20px;
    font-weight: bold;
}

#high-score-list li:nth-child(4)::marker {
    font-size: 20px;
}

#game-container {
    padding: 0 2vmin;

}

#game-header {
    display: flex;
    justify-content: space-between;
}

#game-header p {
    font-size: 24px;
    margin-bottom: 6px;
}

#game-header p i {
    padding-right: 6px;
}

#quit-button {
    position: absolute;
    top: 0;
}

#quit-confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    background-color: white;
    border-radius: 4%;
    font-size: 24px;
    text-align: center;
    box-shadow: rgba(60 64 67 / 30%) 0px 1px 2px 0px, rgba(60 64 67 / 15%) 0px 2px 6px 2px;
}

#quit-confirm div {
    display: flex;
    justify-content: space-around;
}

#quit-confirm button {
    font-size: 1em;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 96vmin;
    gap: 2vmin;
}

@media (orientation: landscape) {
    #game-board {
        grid-template-columns: repeat(5, 1fr);
    }
}

.card {
    background-color: transparent;
    aspect-ratio: 1;
    perspective: 1000;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    border-radius: 4%;
    box-shadow: rgba(60 64 67 / 30%) 0px 1px 2px 0px, rgba(60 64 67 / 15%) 0px 2px 6px 2px;
}

.card-front {
    transition: scale 0.3s ease-in-out, filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.card-front:hover {
    filter: brightness(1.025);
    scale: 1.025;
    box-shadow: rgba(60 64 67 / 30%) 0px 3px 2px 0px, rgba(60 64 67 / 15%) 0px 3px 6px 2px;
}

.spring .card-front,
.spring-button,
.spring #quit-confirm button,
li.spring div {
    background: rgba(238 192 198 / 60%);
    background: linear-gradient(315deg, rgba(229 140 138 / 50%) 0%, rgba(238 192 198 / 60%) 100%);
}

.summer .card-front,
.summer-button,
.summer #quit-confirm button,
li.summer div {
    background: rgba(150 228 223 / 55%);
    background: linear-gradient(315deg, rgba(77 204 198 / 60%) 0%, rgba(150 228 223 / 55%) 100%);
}

.autumn .card-front,
.autumn-button,
.autumn #quit-confirm button,
li.autumn div {
    background: rgba(245 56 3 / 45%);
    background: linear-gradient(315deg, rgba(245 56 3 / 45%) 0%, rgba(245 208 32 / 50%) 100%);
}

.winter .card-front,
.winter-button,
.winter #quit-confirm button,
li.winter div {
    background: rgba(245 227 230 / 100%);
    background: linear-gradient(315deg, rgba(245 227 230 / 100%) 0%, rgba(217 228 245 / 100%) 100%);
}

.card-back {
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}

.spring .card-back {
    border: 1px solid rgb(238 192 198)
}

.summer .card-back {
    border: 1px solid rgb(150 228 223)
}

.autumn .card-back {
    border: 1px solid rgb(245 208 32)
}

.winter .card-back {
    border: 1px solid rgb(217 228 245)
}

#game-result {
    font-size: 1.4rem;
}

#game-result h3 {
    margin-top: 0;
}

#game-result i {
    padding-right: 6px;
}